@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.division2 .fondo1, .division2 .fondo2, .division2 .fondo3 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 10%;
}

.card > .frontal,
.card > .detras {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Oculta la espalda de cada cara al girar */
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
body .worksans {
  font-family: "Work Sans", sans-serif;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    margin: 1rem;
  }
}
.encabezado .logo {
  margin: 1rem;
  height: 15rem;
  border-radius: 80%;
  animation: swirl-in-fwd 0.8s ease-out both;
}
@keyframes swirl-in-fwd {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .encabezado .logo {
    height: 10rem;
  }
}
.encabezado h1 {
  font-size: 3.5rem;
  text-decoration: underline;
  margin: auto;
  gap: 2rem;
  animation: motion 5s linear infinite;
}
@media (max-width: 768px) {
  .encabezado h1 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .encabezado h1 {
    font-size: 1.2rem;
  }
}
@keyframes motion {
  30% {
    color: aqua;
  }
  30% {
    color: rgb(5, 202, 18);
  }
  40% {
    color: gold;
  }
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 1.5rem;
  margin: 1rem;
}
ul :focus {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(175, 76, 158, 0.5);
}
ul a {
  text-decoration: none;
  color: black;
}
@media (max-width: 576px) {
  ul {
    font-size: 1rem;
  }
}

.card {
  position: relative;
  transition: 3s linear; /* Tiempo de giro suave */
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.card > .frontal,
.card > .detras {
  /*
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;*/
  padding: 1rem;
  box-sizing: border-box; /* Evita que el padding deforme el tamaño */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}
.card > .frontal {
  transform: rotateY(0deg); /* Estado inicial visible */
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #333; /* Color del texto del título si lo necesitas */
  border-radius: 0.5rem;
}
.card > .detras {
  transform: rotateY(180deg); /* Inicia completamente volteada en el eje Y */
  background-color: #2c3e50;
  color: white; /* Para que resalten los textos de Instagram, WhatsApp, etc. */
  border-radius: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin: 1.5rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1rem;
  }
}

details {
  text-align: center;
  font-size: 1.2rem;
}
details:active {
  background-color: rgb(82, 220, 242);
}

dotlottie-wc {
  width: 10rem;
  height: 10rem;
}
@media (max-width: 768px) {
  dotlottie-wc {
    max-width: 7rem;
    max-width: 7rem;
  }
}
@media (max-width: 576px) {
  dotlottie-wc {
    width: 5rem;
    height: 5rem;
  }
}

.text {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .text {
    font-size: 0.8rem;
  }
}

.fa-whatsapp:hover, .fa-facebook:hover, .fa-instagram:hover, .fa-envelope:hover {
  transform: scale(1.25);
}

.division {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-areas: 90%;
  grid-template-areas: "caja1 caja2 caja3";
  position: relative;
  margin: 0.5rem;
}
@media (max-width: 768px) {
  .division {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
.division .caja1 {
  grid-area: caja1;
}
@media (max-width: 768px) {
  .division .caja1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.division .caja1 .imagen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .division .caja1 .imagen {
    max-width: 10rem;
    max-height: 10rem;
  }
}
@media (max-width: 576px) {
  .division .caja1 .imagen {
    max-width: 5rem;
    max-height: 5rem;
  }
}
.division .caja1 .imagen {
  width: 20rem;
  height: 20rem;
  margin: 0.5rem;
  border-radius: 50%;
  animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.division .caja2 {
  grid-area: caja2;
}
.division .caja3 {
  grid-area: caja3;
}
.division .caja3 .iconos {
  color: rgb(82, 220, 242);
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .division .caja3 .iconos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .division .caja3 .iconos {
    font-size: 2rem;
  }
}
.division .caja3 .iconos {
  height: 100%;
  padding: 1rem;
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

/*pagina 2*/
.mini-icon {
  color: rgba(175, 76, 158, 0.5);
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}
@media (max-width: 576px) {
  .mini-icon {
    font-size: 2rem;
  }
}

.division2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "fondo1 fondo2 fondo3";
  position: relative;
  margin: 0.5rem;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .division2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.division2 .fondo1 {
  grid-area: fondo1;
  animation: slide-in-fwd-top 1s linear both;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/edificio.webp");
  /*
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 10%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .division2 .fondo1 {
    max-width: 80vw;
    max-height: 80vh;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.division2 .fondo2 {
  grid-area: fondo2;
  animation: slide-in-fwd-bottom 1s linear both;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/flor.webp");
  /*
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 10%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .division2 .fondo2 {
    max-width: 80vw;
    max-height: 80vh;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.division2 .fondo3 {
  grid-area: fondo3;
  animation: slide-in-fwd-top 1s linear both;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/mesa.webp");
  /*
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 10%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .division2 .fondo3 {
    max-width: 80vw;
    max-height: 80vh;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/*pagina 3- cambios*/
.imgfondo {
  background-image: url("../img/girasoles.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
@media (max-width: 768px) {
  .imgfondo {
    background-position: center center;
    max-width: 100%;
    height: 60vh;
  }
}
@media (max-width: 576px) {
  .imgfondo {
    background-position: center center;
    max-width: 100%;
    height: 50vh;
  }
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  text-decoration: underline;
  margin: 0.5rem;
  padding: 0.5rem;
  color: rgb(155, 132, 3);
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.title .quicksand {
  font-family: "Quicksand", sans-serif;
}

.textcuadro {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin: 0.5rem;
  padding: 1rem;
  max-width: 35rem;
  color: rgb(144, 123, 3);
}
@media (max-width: 768px) {
  .textcuadro {
    font-size: 1rem;
    max-width: 25rem;
  }
}
@media (max-width: 576px) {
  .textcuadro {
    font-size: 0.8rem;
    color: black;
    text-align: center;
  }
}
.textcuadro .quicksand {
  font-family: "Quicksand", sans-serif;
}

.enlaces {
  text-align: right;
  font-size: 1.5rem;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
  color: gold;
}
@media (max-width: 768px) {
  .enlaces {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .enlaces {
    font-size: 0.8rem;
    text-align: center;
  }
}

.cuadricula {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 576px) {
  .cuadricula {
    display: flex;
    align-items: center;
  }
}

/*pagina 3- se traslado card a componentes  - nueva edicion- cambio de plantilla. 

.container{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30% 30% 40%;
    grid-template-areas:"container1 container2"
                        "container3 container2"
                        "container4 container5";
    position: relative;
    margin: $med-primaria;
    gap: $med-primaria;
    padding: $med-secundaria;
    height: 90vh;

    @include mobile{
        grid-template-rows: 20% 40% 20% 20% ;
        grid-template-areas:"container1 container1"
                            "container2 container2"
                            "container4 container3"
                            "container5 container5";
    }

.container1{
    grid-area: container1;
    width: 100%;
    height: 100%;
    perspective: 1000px;

    &:hover .card{
    transform: rotateY(180deg);
    }
}

.container2{
    grid-area: container2;

    @include flex2(column, center, center);

    background-image: $color-container2;

        .miniphoto{
            width: $med-iconos-miniphotos;
            height: $med-iconos-miniphotos;
            border-radius: $med-iconos-miniphotos;
            }
        }

.container3{
    grid-area: container3;
    background-image: $color-container3;
    border-radius: $border-container3;
}

.container4{
    grid-area: container4;
    background-image: $color-container4;
    border-radius: 10%;

    @include flex1(center, center);

    @include mobile-small{
        flex-direction: column;
    }
        }

.container5{
    grid-area: container5;
    background-image: $color-container5;
}
}*/
.footer {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  width: 100%;
}
@media (max-width: 768px) {
  .footer {
    max-width: 100%;
    height: auto;
    padding: 1.5rem 0;
  }
}
@media (max-width: 576px) {
  .footer {
    max-width: 100%;
    height: auto;
    padding: 1rem 0;
  }
}

.footer3 {
  background-color: rgb(245, 230, 147);
  width: 100%;
}
@media (max-width: 768px) {
  .footer3 {
    max-width: 100%;
    height: auto;
    padding: 1rem 0;
  }
}
@media (max-width: 576px) {
  .footer3 {
    max-width: 100%;
    height: auto;
    padding: 1rem 0;
  }
}

ol {
  list-style: none;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  gap: 0.5rem;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}

@media (max-width: 768px) {
  ol {
    font-size: 0.5rem;
  }
}
.lista2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 0.5rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .lista2 {
    font-size: 0.5rem;
  }
}
.lista2 .quicksand {
  font-family: "Quicksand", sans-serif;
}

.final {
  font-size: 1rem;
}
@media (max-width: 576px) {
  .final {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
