
//colores
$color-body: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
$color-h1key1: aqua;
$color-h1key2: rgb(5, 202, 18);
$color-h1key3: gold;
$color-focus: rgba(175, 76, 158, 0.5);
$color-a: black;
$color-details: rgb(82, 220, 242);
$color-iconos: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
$color-fondo:  linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
$color-frontal: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
$color-container2: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
$color-container3: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
$color-container4: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
$color-container5: linear-gradient(to right, #fa709a 0%, #fee140 100%);
$color-footer: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);


//medidas generales
$med-primaria: 0.5rem;
$med-secundaria: 1rem;
$med-terciaria: 1.5rem;
$med-cuarta: 2rem;

// medidas-tamaños
$med-logo: 15rem;
$med-iconos-miniphotos: 4rem;



//tamaños de palabras
$font-h1: 3.5rem;
$font-text: 1.2rem;


//detalles
$border-logo: 80%;
$border-iconos: 40%;
$border-imagen-photos: 50%;
$border-container3: 70%;
$text-align: center;
$deco-text: underline;
$list-style: none;
$font-family: "Work Sans", sans-serif;

//media
$med-mobile: 768px;
$med-peqmobile: 576px;



