@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;


.footer{
        background-image: $color-footer ;
        width: 100%;

        @include mobile{
        max-width: 100%;
        height: auto;
        padding: $med-terciaria 0;
    }

    @include mobile-small{
        max-width: 100%;
        height: auto;
        padding: $med-secundaria 0;
    }
    }

.footer3{
    background-color: rgb(245, 230, 147);
    width: 100%;

    @include mobile{
        max-width: 100%;
        height: auto;
        padding: $med-secundaria 0;
    }

    @include mobile-small{
        max-width: 100%;
        height: auto;
        padding: $med-secundaria 0;
    }
}

    ol{
        list-style: none;
    }

    .lista{
        @include flex1(center, space-around);

        margin: $med-secundaria;
        gap: $med-primaria;
        font-size: $med-secundaria;
        font-family: "Quicksand", sans-serif;
        }

        @include mobile{
        ol{
            font-size: $med-primaria;
            }
        }

        .lista2{
        @include flex1(center, space-around);
        padding: $med-secundaria;
        gap: $med-primaria;
        font-size: $med-secundaria;

        @include mobile{
            font-size: $med-primaria;
        }

        .quicksand{
        font-family: "Quicksand", sans-serif;
    }
    }
    
    .final{
        font-size: $med-secundaria;

        @include mobile-small{
            font-size: $med-primaria;
        }
    }
