@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

footer{
    background-image: $color-footer;

    ol{
        list-style: none;

    }

    .lista{
        @include flex1(center, space-around);

        margin: $med-secundaria;
        gap: $med-primaria;
        font-size: $med-secundaria;
        }

        @include mobile{
        ol{
            font-size: $med-primaria;
            }
        }
    
    .final{
        font-size: $med-secundaria;

        @include mobile-small{
            font-size: $med-primaria;
        }
    }
}