@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.encabezado{
    
    @include flex1(center, space-around);

    @include mobile{
        flex-direction: column;
        margin: $med-secundaria;
    }

    .logo{
    margin: $med-secundaria;
    height: $med-logo;
    border-radius: $border-logo;
    animation: swirl-in-fwd 0.8s ease-out both;

        @keyframes swirl-in-fwd {
        0% {
            transform: rotate(-540deg) scale(0);
            opacity: 0;
            }
        100% {
            transform: rotate(0) scale(1);
            opacity: 1;
            }
        }

        @include mobile{
            height: 10rem;
        }
    }

    h1{
    font-size: $font-h1;
    text-decoration: $deco-text;
    margin: auto;
    gap: $med-cuarta;
    animation: motion 5s linear infinite;

    @include mobile{
            font-size: $med-cuarta;
            }
    @include mobile-small{
        font-size: $font-text;
    }

    @keyframes motion{
    30%{
        color: $color-h1key1;
    }
    30%{
        color: $color-h1key2;
    }
    40%{
        color: $color-h1key3;
    }
    }
}
}

ul{
    @include flex1(center, space-around);

    list-style: $list-style;
    font-size: $med-terciaria;

    & :focus {
    box-shadow: $med-primaria $med-primaria $med-primaria $color-focus;
    }

a{
    text-decoration: $list-style;
    color: $color-a;
}

            @include mobile-small{
            font-size: $med-secundaria;
            }
}
